/* --------------------------------------------------------------------**
**                              ABOUT                                  **
** --------------------------------------------------------------------**/

#campus {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#campus img {
    width: 100%;
    filter: grayscale(100%);
}

#us {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#us img {
    float:left;
    width: 50%;
    padding-right: 1em;
    filter: grayscale(100%);
}

article {
    /* display: grid; */
    overflow: auto;
    margin-bottom: 3em;

}