/* --------------------------------------------------------------------**
**                              CONTACT                                  **
** --------------------------------------------------------------------**/

.form-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 8px;
    font-weight: 300;
    font-size: 1em;
}

#robot {
    width: 1em;
}

textarea {
    height: 4em;
}

input {
    height: 2em;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.4em 3em;
}

.full-width {
    grid-column: 1 / 3;   
}

label {
    align-self:center
}