/* --------------------------------------------------------------------**
**                              COURSES                                 **
** --------------------------------------------------------------------**/

#courses {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap:2em;
}

img {
  filter: grayscale(100%);
  width: 100%;
}

img:hover {
  filter: none;
}

.woman {
  -webkit-animation:colorchange 8s infinite alternate;
}

@-webkit-keyframes colorchange {
  0% {
    color: blue;
  }
  
  10% {
    color: #8e44ad;
  }
  
  20% {
    color: #1abc9c;
  }
  
  30% {
    color: #d35400;
  }
  
  40% {
    color: blue;
  }
  
  50% {
    color: salmon;
  }
  
  60% {
    color: blue;
  }
  
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  
  90% {
    color: #2980b9;
  }
  
  100% {
    color: pink;
  }
}

li {
  list-style-type: square !important;
  padding-bottom: 1em;
  list-style-position: inside;
}

article {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  border: 1px solid black;
  padding: 1em;
}

button:hover {
  box-shadow: -4px 4px black;
  position: relative;
  bottom: 2px;
  left: 2px;
}

input, button {
  width: 48%;
}

.partners {
  padding: .7em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  width: 100%;
}

.partners img {
  filter: grayscale(100%);
  align-self: center;
}

.workflow h4 {
  margin: 1.2em 0 1.2em 0;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  /* display: none; */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.grid-v-span {
  grid-row-start:span 2;
}