footer {
    min-height: 50vh;
    /* if using height we would follow it with overflow:overlay */
    padding: 2em 10vw 2em 10vw;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.copyright {
    padding: 3em 0 2em 0;
    font-size: .7em;
    font-weight: 300;
}

footer li {
    font-size: .8em;
    font-weight: 300;
    line-height: 2em;
}
