/* --------------------------------------------------------------------**
**                                  GENERAL STYLES                                 **
** --------------------------------------------------------------------**/

:root {
    --header-black: #333333;
  }

  @font-face {
    font-family: 'bison';
    src: 
    local('Bison-Bold'),
    url('../fonts/Bison-Bold.ttf')
    format('truetype');
  }


/* generic elements & classes */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    padding: 2em 10vw 2em 10vw;
}

p , li {
    font-size: .9em;
    font-weight: 300;
    line-height: 1.4em;
}

address {
    font-size: .9em;
    font-weight: 300;
    line-height: 1.4em;
}

h1, h2, h3, h4 {
    font-family: 'bison', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3em;
    margin: 10vw;
    /* border: 1px solid red; */
}

h2 {
    font-size: 2em;
    margin-bottom: 1.2em;
    /* border: 1px solid red; */
}

h3 {
    font-size: 1.4em;
    margin: .08em 0 2em 0;
}

h4 {
    font-size: 1em;
}

button {
    background: none;
    border: 1px solid #A9A9A9;
    height: 2em;
    transition: position .1s;
}

button:hover {
    box-shadow: -4px 4px black;
    position: relative;
    bottom: 2px;
    left: 2px;
}

.bg-black {
    background: black;
    color: white;
}

.bg-white {
    background: white;
}

.center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

/* spacing */
.m-b-sm {
    margin-bottom: 1.2em;
}

.m-b-md {
    margin-bottom: 2em;
}

.m-tb-sm {
    margin: 1.2em 0 1.2em 0;
}

.m-tb-md {
    margin: 2em 0 2em 0;
}

