header {
    height: 30vh;
    background-image: url("../img/home/squares.svg");
    /* grid gradient */
    /* background-size: 40px 40px; */
    /* background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px); */
}

header a:link, header a:visited  {
    color: var(--header-black);
}

nav {   
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a:link, nav a:visited  {
    color:white;
}