/* --------------------------------------------------------------------**
**                                  HOME                                 **
** --------------------------------------------------------------------**/

/* -----SECTION future------ */
#future {
    display: flex;
    justify-content: space-between;
}

#future li {
    display: inline;
    font-size: .7em;
}

a[href^="tel:"], a[href^="mailto:"] {
    color: black;
}

/* -----SECTION wantToBe ------ */

#wantToBe div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
}

/* -----SECTION outcomes ------ */

#outcomes div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4em 2em;
}

#outcomes img {
    border-radius: 50%;
    width: 100%;
    filter: grayscale(100%);
}

span a:link, span a:visited  {
    color:black;
}

/* -----SECTION different ------ */

#different div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
}

/* -----SECTION partners ------ */

#partners div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
}

#partners img {
    width: 100%;
    align-self: center;
    filter: grayscale(100%);
}
